<footer class="site-footer">
    <div class="site-footer__wrapper">
        <div class="site-footer__info text-3xl">
            {{ __( 'Copyright', 'bankroll' ) }} {{ "now"|date('Y') }} | All rights reserved @BANKROLL
        </div>
    </div>
</footer>