{% block html_head %}
	{% include 'partials/head.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
{% block header %}
    {% include 'partials/header.twig' %}
{% endblock %}

<main role="main" class="site-main">
    <div class="site-main__content">
        {% block content %}
            {{ __( 'Sorry, no content.', 'bankroll' ) }}
        {% endblock %}
    </div>
</main>

{% block footer %}
    {% include 'partials/footer.twig' %}
{% endblock %}

{{ function('wp_footer') }}

</body>
</html>